@model CustomerModel

<div id="customerDiv">
    <div class="row">
        <div class="col-md-12">
            <div style="margin:20px;">
                <h4>Customer Transactions</h4>
            </div>
            <hr />
        </div>
    </div>
    <div style="padding: 30px;">
        <div class="row">
            <div class="col-md-12">
                Customer Name : @Model.Customer.CustomerName <br />
                Customer Number : @Model.Customer.MobileNumber <br />
                Customer Location : @Model.Customer.Locality <br />
                Customer Address : @Model.Customer.Address <br />
            </div>
            <div class="col-md-12">
                @Html.Partial("_CustomerTransactions", Model.CustomerTransactions)
            </div>
        </div>
    </div>
    @Html.Partial("_CustomerTransactionSave", Model.CustomerTransaction)
</div>
